[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group team
	owner = group user/jinseop88
[access "refs/for/refs/*"]
	read = group user/jinseop88
	push = group user/jinseop88
	label-Code-Review = -2..+2 group user/jinseop88
	label-Verified = -1..+1 group user/jinseop88
	rebase = group user/jinseop88
	removeReviewer = group user/jinseop88
	submit = group user/jinseop88
[access "refs/heads/*"]
	read = group user/jinseop88
	create = group user/jinseop88
	push = +force group user/jinseop88
	pushMerge = group user/jinseop88
[access "refs/tags/*"]
	push = +force group user/jinseop88
	pushTag = group user/jinseop88
	pushSignedTag = group user/jinseop88
